.border-green {
  width: 700px;
  height: 700px;
  margin: 20px;
  background-color: #f3efef;
  border-radius: 20px;
  border: 10px solid white;
  background: rgb(32, 135, 1);
  background: radial-gradient(
    circle,
    rgba(59, 126, 1, 0.695) 40%,
    rgba(186, 250, 181, 0.499) 100%,
    rgba(138, 246, 152, 0.11537114845938379) 100%
  );
}
.background-image {
  border-radius: 10px;
  background-color: #ffffff;
  width: 700px;
  height: 400px;
  margin-left: 100px;
  margin-top: 100px;
}
.image-AboutUs {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../../image/habit.jfif);
  background-size: contain;
  background-repeat: no-repeat;

  margin-left: 600px;
  margin-left: 550px;
}
.caption-for-AboutUs {
  text-align: center;
  margin-top: -70px;
}
.origin {
  margin-left: 300px;
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 30px;
}
